
@if(ViewBag.currDate != null)
{
     
        <li id="goto_next">
            <a class="btn btn-default btn-lg" href="~/Groza/@(ViewContext.Controller.ValueProvider.GetValue("action").RawValue)?YYYY=@ViewBag.prevDate.Year&MM=@ViewBag.prevDate.Month&DD=@ViewBag.prevDate.Day">Пред.</a>
        </li>
        <li id="goto_next">
            <a class="btn btn-default btn-lg" href="~/Groza/@(ViewContext.Controller.ValueProvider.GetValue("action").RawValue)?YYYY=@ViewBag.nextDate.Year&MM=@ViewBag.nextDate.Month&DD=@ViewBag.nextDate.Day">След.</a>
        </li>
    
}